In [3]:
# !pip install stocknews
# !pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [4]:
from stocknews import StockNews as stkn
import os
from dotenv import load_dotenv

In [12]:
import pandas as pd

In [5]:
load_dotenv()

True

In [7]:
MARKET_API = os.getenv('MARKET_API')

In [17]:
stock = ['INFY.NS']
sn = stkn(stock, wt_key=MARKET_API, save_news=True)

In [18]:
df = sn.summarize()

In [23]:
df_new = pd.DataFrame(df[0])

In [24]:
df_new.head()

,id,stock,news_dt,check_day,open,close,high,low,volume,change,sentiment_summary_avg,sentiment_summary_med,sentiment_title_avg,sentiment_title_med
0,INFY.NS_2024-06-20,INFY.NS,2024-06-20 13:42:00,2024-06-20,0,0,0,0,0,UNCHECKED,0.4939,0.4939,0.0000,0.0000
1,INFY.NS_2024-06-18,INFY.NS,2024-06-18 10:24:00,2024-06-18,0,0,0,0,0,UNCHECKED,0.8591,0.8591,0.7906,0.7906
2,INFY.NS_2024-06-17,INFY.NS,2024-06-17 23:58:03,2024-06-18,0,0,0,0,0,UNCHECKED,0.8316,0.8316,0.7964,0.7964
3,INFY.NS_2024-06-16,INFY.NS,2024-06-16 15:00:00,2024-06-17,0,0,0,0,0,UNCHECKED,0.7964,0.7964,0.0000,0.0000
4,INFY.NS_2024-06-13,INFY.NS,2024-06-13 14:00:02,2024-06-13,0,0,0,0,0,UNCHECKED,0.4659,0.4659,0.0000,0.0000

In [25]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     17 non-null     object
 1   stock                  17 non-null     object
 2   news_dt                17 non-null     object
 3   check_day              17 non-null     object
 4   open                   17 non-null     int64
 5   close                  17 non-null     int64
 6   high                   17 non-null     int64
 7   low                    17 non-null     int64
 8   volume                 17 non-null     int64
 9   change                 17 non-null     object
 10  sentiment_summary_avg  17 non-null     float64
 11  sentiment_summary_med  17 non-null     float64
 12  sentiment_title_avg    17 non-null     float64
 13  sentiment_title_med    17 non-null     float64
dtypes: float64(4), int64(5), object(5)
memory usage: 2.0+ KB