In [1]:
import yfinance as yf

In [79]:
infy = yf.Ticker('INFY')
infy.info

{'address1': 'Plot No. 44/97 A',
 'address2': '3rd cross Electronic City Hosur Road',
 'city': 'Bengaluru',
 'zip': '560100',
 'country': 'India',
 'phone': '91 80 2852 0261',
 'fax': '91 80 2852 0362',
 'website': 'https://www.infosys.com',
 'industry': 'Information Technology Services',
 'industryKey': 'information-technology-services',
 'industryDisp': 'Information Technology Services',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': "Infosys Limited, together with its subsidiaries, provides consulting, technology, outsourcing, and next-generation digital services in North America, Europe, India, and internationally. It provides digital marketing and digital workplace, digital commerce, digital experience and interactions, metaverse, data analytics and AI, applied AI, generative AI, sustainability, blockchain, engineering, Internet of Things, enterprise agile DevOps, application modernization, cloud, digital process automation, digital supply chain, Microsoft business application and cloud business, service experience transformation, energy transition, cyber security, and quality engineering solutions; Oracle, SAP, and Saleforce solutions; API economy and microservices; and Topaz, an AI-first set of services, solutions, and platforms using generative AI technologies. The company's products and platforms include Finacle, a core banking solution; Edge suite of products; Panaya platform, Infosys Equinox, Infosys Helix, Infosys Applied AI, Infosys Cortex, and Stater digital platforms; and Infosys McCamish, an insurance platform. It serves aerospace and defense, agriculture, automotive, chemical manufacturing, communication, consumer packaged goods, education, engineering procurement and construction, healthcare, high technology, industrial manufacturing, information services and publishing, insurance, life science, logistics and distribution, media, entertainment, mining, oil and gas, private equity, professional, public, retail, travel, hospitality, utilities, and waste management industries. The company was formerly known as Infosys Technologies Limited and changed its name to Infosys Limited in June 2011. Infosys Limited was incorporated in 1981 and is headquartered in Bengaluru, India.",
 'fullTimeEmployees': 317240,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Nandan M. Nilekani',
   'age': 67,
   'title': 'Co-Founder & Chairman',
   'yearBorn': 1956,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Salil Satish Parekh',
   'age': 59,
   'title': 'MD, CEO & Director',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 3189282,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Anand  Swaminathan',
   'title': 'Executive VP and Segment Head of Communication, Media & Technology',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Inderpreet  Sawhney',
   'age': 58,
   'title': 'Executive VP, Group General Counsel & Chief Compliance Officer',
   'yearBorn': 1965,
   'fiscalYear': 2023,
   'totalPay': 1149837,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Shaji  Mathew',
   'age': 52,
   'title': 'Group Head of HR, Exec VP & Svc Offering Head of Fin Svcs, Healthcare, Ins and Life Sciences',
   'yearBorn': 1971,
   'fiscalYear': 2023,
   'totalPay': 126842,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Karmesh Gul Vaswani',
   'age': 51,
   'title': 'Executive VP & Segment Head of CPG, Logistics & Retail',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jasmeet  Singh',
   'title': 'Executive VP & Segment Head of Manufacturing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Martha G. King',
   'title': 'Executive VP & Chief Client Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank Lord Satterthwaite',
   'age': 60,
   'title': 'Senior Vice President of Delivery, FSHIL',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jayesh  Sanghrajka',
   'age': 49,
   'title': 'Chief Financial Officer',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 179019,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 2,
 'compensationRisk': 5,
 'shareHolderRightsRisk': 1,
 'overallRisk': 2,
 'governanceEpochDate': 1717200000,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://www.infosys.com/investors/pages/index.aspx',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 17.84,
 'open': 17.81,
 'dayLow': 17.6,
 'dayHigh': 17.82,
 'regularMarketPreviousClose': 17.84,
 'regularMarketOpen': 17.81,
 'regularMarketDayLow': 17.6,
 'regularMarketDayHigh': 17.82,
 'dividendRate': 0.55,
 'dividendYield': 0.0309,
 'exDividendDate': 1717113600,
 'payoutRatio': 0.5646,
 'fiveYearAvgDividendYield': 2.17,
 'beta': 0.546,
 'trailingPE': 23.407896,
 'forwardPE': 21.695124,
 'volume': 5700732,
 'regularMarketVolume': 5700732,
 'averageVolume': 10481132,
 'averageVolume10days': 9554710,
 'averageDailyVolume10Day': 9554710,
 'bidSize': 21500,
 'askSize': 21500,
 'marketCap': 74143031296,
 'fiftyTwoWeekLow': 15.12,
 'fiftyTwoWeekHigh': 20.74,
 'priceToSalesTrailing12Months': 3.9943447,
 'fiftyDayAverage': 17.2222,
 'twoHundredDayAverage': 18.002,
 'trailingAnnualDividendRate': 0.46,
 'trailingAnnualDividendYield': 0.025784753,
 'currency': 'USD',
 'enterpriseValue': 71583719424,
 'profitMargins': 0.17062001,
 'floatShares': 3580726103,
 'sharesOutstanding': 4140979968,
 'sharesShort': 79953723,
 'sharesShortPriorMonth': 52109913,
 'sharesShortPreviousMonthDate': 1713139200,
 'dateShortInterest': 1715731200,
 'sharesPercentSharesOut': 0.019299999,
 'heldPercentInstitutions': 0.12825,
 'shortRatio': 7.46,
 'impliedSharesOutstanding': 4167680000,
 'bookValue': 2.551,
 'priceToBook': 6.973736,
 'lastFiscalYearEnd': 1711843200,
 'nextFiscalYearEnd': 1743379200,
 'mostRecentQuarter': 1711843200,
 'earningsQuarterlyGrowth': 0.289,
 'netIncomeToCommon': 3167000064,
 'trailingEps': 0.76,
 'forwardEps': 0.82,
 'pegRatio': 1.58,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1536710400,
 'enterpriseToRevenue': 3.856,
 'enterpriseToEbitda': 17.019,
 '52WeekChange': 0.14652956,
 'SandP52WeekChange': 0.22599876,
 'lastDividendValue': 0.335,
 'lastDividendDate': 1717113600,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'INFY',
 'underlyingSymbol': 'INFY',
 'shortName': 'Infosys Limited',
 'longName': 'Infosys Limited',
 'firstTradeDateEpochUtc': 921162600,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'ba2e8c5e-5629-394a-a562-9c7ea21f5056',
 'messageBoardId': 'finmb_398006',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 17.79,
 'targetHighPrice': 23.0,
 'targetLowPrice': 14.0,
 'targetMeanPrice': 19.38,
 'targetMedianPrice': 19.8,
 'recommendationMean': 2.3,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 13,
 'totalCash': 3320999936,
 'totalCashPerShare': 0.802,
 'ebitda': 4206000128,
 'totalDebt': 1002000000,
 'quickRatio': 2.0,
 'currentRatio': 2.305,
 'totalRevenue': 18562000896,
 'debtToEquity': 9.448,
 'revenuePerShare': 2.2425,
 'returnOnAssets': 0.15054,
 'returnOnEquity': 0.31963,
 'freeCashflow': 1440249984,
 'operatingCashflow': 3148000000,
 'earningsGrowth': 0.276,
 'revenueGrowth': 0.002,
 'grossMargins': 0.29447,
 'ebitdaMargins': 0.22659001,
 'operatingMargins': 0.20087999,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.7323}

In [80]:
hist = infy.history(period="1mo")
print(hist)

                                Open       High        Low      Close  \
Date
2024-05-13 00:00:00-04:00  16.603611  16.701625  16.554602  16.584007
2024-05-14 00:00:00-04:00  16.662417  16.672219  16.525198  16.613411
2024-05-15 00:00:00-04:00  16.682021  16.789835  16.525198  16.711424
2024-05-16 00:00:00-04:00  16.868247  16.946660  16.809439  16.897652
2024-05-17 00:00:00-04:00  16.809438  16.829042  16.682021  16.789835
2024-05-20 00:00:00-04:00  16.819240  16.878048  16.770234  16.789835
2024-05-21 00:00:00-04:00  16.721227  16.770235  16.662419  16.672220
2024-05-22 00:00:00-04:00  16.917256  16.966262  16.848646  16.927057
2024-05-23 00:00:00-04:00  17.093680  17.172092  17.025071  17.054474
2024-05-24 00:00:00-04:00  17.054475  17.132886  16.985865  17.015270
2024-05-28 00:00:00-04:00  16.966261  17.044672  16.927056  16.976063
2024-05-29 00:00:00-04:00  16.780035  16.809438  16.662417  16.691822
2024-05-30 00:00:00-04:00  16.574205  16.623211  16.436985  16.535000
2024-05-31 00:00:00-04:00  16.730000  16.820000  16.430000  16.750000
2024-06-03 00:00:00-04:00  16.870001  16.900000  16.680000  16.850000
2024-06-04 00:00:00-04:00  16.690001  16.799999  16.559999  16.799999
2024-06-05 00:00:00-04:00  17.090000  17.180000  17.000000  17.150000
2024-06-06 00:00:00-04:00  17.430000  17.549999  17.389999  17.540001
2024-06-07 00:00:00-04:00  18.059999  18.170000  17.910000  18.010000
2024-06-10 00:00:00-04:00  17.709999  17.870001  17.650000  17.840000
2024-06-11 00:00:00-04:00  17.809999  17.820000  17.600000  17.790001

                             Volume  Dividends  Stock Splits
Date
2024-05-13 00:00:00-04:00   5923300      0.000           0.0
2024-05-14 00:00:00-04:00   9395500      0.000           0.0
2024-05-15 00:00:00-04:00   4019700      0.000           0.0
2024-05-16 00:00:00-04:00  10753400      0.000           0.0
2024-05-17 00:00:00-04:00   7986000      0.000           0.0
2024-05-20 00:00:00-04:00   6096100      0.000           0.0
2024-05-21 00:00:00-04:00   7889700      0.000           0.0
2024-05-22 00:00:00-04:00   8385600      0.000           0.0
2024-05-23 00:00:00-04:00   9249300      0.000           0.0
2024-05-24 00:00:00-04:00   9241000      0.000           0.0
2024-05-28 00:00:00-04:00  11508000      0.000           0.0
2024-05-29 00:00:00-04:00   8563800      0.000           0.0
2024-05-30 00:00:00-04:00  11351700      0.000           0.0
2024-05-31 00:00:00-04:00  14253800      0.335           0.0
2024-06-03 00:00:00-04:00   8585300      0.000           0.0
2024-06-04 00:00:00-04:00   8822800      0.000           0.0
2024-06-05 00:00:00-04:00   7513200      0.000           0.0
2024-06-06 00:00:00-04:00   7386000      0.000           0.0
2024-06-07 00:00:00-04:00  11158200      0.000           0.0
2024-06-10 00:00:00-04:00   6404300      0.000           0.0
2024-06-11 00:00:00-04:00   5700732      0.000           0.0

In [81]:
infy.history_metadata

{'currency': 'USD',
 'symbol': 'INFY',
 'exchangeName': 'NYQ',
 'fullExchangeName': 'NYSE',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 921162600,
 'regularMarketTime': 1718136002,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 17.79,
 'fiftyTwoWeekHigh': 17.82,
 'fiftyTwoWeekLow': 17.6,
 'regularMarketDayHigh': 17.82,
 'regularMarketDayLow': 17.6,
 'regularMarketVolume': 5700732,
 'chartPreviousClose': 16.87,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'end': 1718199000,
   'start': 1718179200,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'end': 1718222400,
   'start': 1718199000,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'end': 1718236800,
   'start': 1718222400,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [82]:
infy.actions

                           Dividends  Stock Splits
Date
2024-05-31 00:00:00-04:00      0.335           0.0

In [83]:
infy.dividends

Date
2024-05-31 00:00:00-04:00    0.335
Name: Dividends, dtype: float64

In [84]:
infy.splits

Series([], Name: Stock Splits, dtype: float64)

In [85]:
infy.capital_gains

Series([], dtype: object)

In [86]:
infy.history(start='2014-01-01', end='2022-12-31').to_csv('Data/INFY-train.csv')

In [87]:
infy.history(start='2023-01-01', end='2023-12-31').to_csv('Data/INFY-test.csv')

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [89]:
df_infy_train = pd.read_csv('Data/INFY-train.csv')
df_infy_train.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2014-01-02 00:00:00-05:00,5.347247,5.347247,5.267395,5.278802,3642400,0.0,0.0
1,2014-01-03 00:00:00-05:00,5.432804,5.473681,5.408088,5.432804,8421600,0.0,0.0
2,2014-01-06 00:00:00-05:00,5.408087,5.409989,5.339643,5.352952,4820000,0.0,0.0
3,2014-01-07 00:00:00-05:00,5.305420,5.360556,5.290210,5.332037,6201600,0.0,0.0
4,2014-01-08 00:00:00-05:00,5.275950,5.300666,5.251234,5.300666,9640000,0.0,0.0

In [90]:
df_infy_train = df_infy_train.drop(['Dividends', 'Stock Splits'], axis=1)

In [91]:
df_infy_train.head()

                        Date      Open      High       Low     Close   Volume
0  2014-01-02 00:00:00-05:00  5.347247  5.347247  5.267395  5.278802  3642400
1  2014-01-03 00:00:00-05:00  5.432804  5.473681  5.408088  5.432804  8421600
2  2014-01-06 00:00:00-05:00  5.408087  5.409989  5.339643  5.352952  4820000
3  2014-01-07 00:00:00-05:00  5.305420  5.360556  5.290210  5.332037  6201600
4  2014-01-08 00:00:00-05:00  5.275950  5.300666  5.251234  5.300666  9640000

In [92]:
df_infy_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266 entries, 0 to 2265
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2266 non-null   object
 1   Open    2266 non-null   float64
 2   High    2266 non-null   float64
 3   Low     2266 non-null   float64
 4   Close   2266 non-null   float64
 5   Volume  2266 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 106.3+ KB

In [93]:
df_infy_train['Volume'] = df_infy_train['Volume'].astype(np.float64)
df_infy_train['Date'] = pd.to_datetime(df_infy_train['Date'])

In [94]:
df_infy_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266 entries, 0 to 2265
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2266 non-null   object
 1   Open    2266 non-null   float64
 2   High    2266 non-null   float64
 3   Low     2266 non-null   float64
 4   Close   2266 non-null   float64
 5   Volume  2266 non-null   float64
dtypes: float64(5), object(1)
memory usage: 106.3+ KB

In [95]:
df_infy_test = pd.read_csv('Data/INFY-test.csv')
df_infy_test = df_infy_test.drop(['Dividends', 'Stock Splits'], axis=1)
df_infy_test['Volume'] = df_infy_test['Volume'].astype(np.float64)
df_infy_test['Date'] = pd.to_datetime(df_infy_test['Date'])

In [96]:
df_infy_test.head()

,Date,Open,High,Low,Close,Volume
0,2023-01-03 00:00:00-05:00,17.354864,17.517148,17.240309,17.402594,11041400.0
1,2023-01-04 00:00:00-05:00,17.125758,17.345318,17.049389,17.278496,10440400.0
2,2023-01-05 00:00:00-05:00,17.001655,17.058933,16.877556,16.877556,6420300.0
3,2023-01-06 00:00:00-05:00,16.734365,17.030295,16.677087,17.001656,8915600.0
4,2023-01-09 00:00:00-05:00,17.268950,17.412142,17.173489,17.183035,10778100.0

In [97]:
df_infy_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    250 non-null    object
 1   Open    250 non-null    float64
 2   High    250 non-null    float64
 3   Low     250 non-null    float64
 4   Close   250 non-null    float64
 5   Volume  250 non-null    float64
dtypes: float64(5), object(1)
memory usage: 11.8+ KB